build/
install/
logs/
mex/
*.obj
*.lib
*.exp
*.ilk
*.pdb
*.log
*.zip

!windows/bin/
!windows/bin/win64/
!windows/bin/win64/ipopt.mexw64
!windows/bin/win64/SHA256SUMS.txt

!macos/bin/
!macos/bin/maca64/
!macos/bin/maca64/ipopt.mexmaca64
!macos/bin/maca64/SHA256SUMS.txt

!linux/bin/
!linux/bin/mexa64/
!linux/bin/mexa64/ipopt.mexa64
!linux/bin/mexa64/SHA256SUMS.txt
